# Replace the empty values witn current allowed length strings,
# no other restrictions. Copy as .env file in this directory 

# See the utils/config.js for default values if .env is not used, 
# and corresponding env vars not given.

# USERNAME_DEFAULT='mie'
USERNAME_DEFAULT=null

PASSWORD_DEFAULT=null

USER_NAME_DEFAULT=null
